body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 1.75;
  color: #40514E;
  background-color: #f5efdc;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 4.2rem;
  font-weight: normal;
  margin: 0 auto 0 auto;
  padding-top: 0px;
  font-family: 'Sacramento', ;
  color: #39414d;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  margin: 0 10px auto auto;
  color: #39414d ;
  padding-bottom: 10px
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #257899;
}

hr{
border: dotted #EAF6F6 6px;
border-bottom: none;
width: 8%;
margin: 50px auto;
}

.img1{
  width: 180px;
  height: 240px;
  padding: 0;
  float: left;

}
.img2{
  width: 220px;
  height: 240px;
  float: left;



}
.img3{
  width: 180px;
  height: 240px;

  float: left;
}
.img4{
  width: 220px;
  height: 240px;

  float: left;
}
p{
  color: black;
  line-height: 2;
}

.contact{
  color: #257899;
  font-family: "Montserrat", sans-serif;
  margin: 110px 200px;
  text-decoration: none;
}

.rates{
  display: inline;
  padding-left: 100px;
  padding-right: 100px;

}

a{
  color: #257899;
  font-family: "Montserrat", sans-serif;
  margin: 70px 40px;
  text-decoration: none;
  }

a:hover{
  color: #EAF6F6
}
